<!-- info section -->
<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_contact">
                    <h4>
                        Contact
                    </h4>
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/template/images/telephone-symbol-button.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                +91 9876543210
                            </h6>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/template/images/email.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                ddumedical@gmail.com
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- end info section -->



<section class="container-fluid footer_section">
    <p>
        &copy; 2024  All Rights Reserved. Design by DDU Medical
        @*<a href="https://html.design/">Free Html Templates</a>*@
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="~/Content/template/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Content/template/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
    </script>
<script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
<script type="text/javascript">
        $(".owl-2").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: [],
            autoplay: true,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>