@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
@Html.Partial("_head_tags")
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    @Html.Partial("_navbar")

    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box">
                            <img src="~/Content/template/images/medicine.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="detail-box">
                            <h1>
                                Welcome To <br>
                                <span>
                                    Medicomart
                                </span>

                            </h1>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even slightly
                                believable.
                            </p>
                            <div>
                                <a asp-action="Medicines" asp-controller="Home">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

</div>
<section class="feature_section layout_padding">
    <div class="container">
        <div class="feature_container">
            <!-- First feature box -->
            <div class="box">
                <div class="img-box">
                    <img src="~/Content/template/svg/fast-delivery-truck-van-svgrepo-com.svg" alt="Fast Delivery Icon"/>
                </div>
                <div class="detail-box">
                    <h5>Fast Delivery</h5>
                    <p>
                        It is a long established fact that a reader will be distracted by.
                    </p>
                </div>
            </div>

            <!-- Second feature box -->
            <div class="box">
                <div class="img-box">
                    <img src="~/Content/template/svg/license-svgrepo-com.svg" alt="Government License Icon"/>
                </div>
                <div class="detail-box">
                    <h5>License of Government</h5>
                    <p>
                        It is a long established fact that a reader will be distracted by.
                    </p>
                </div>
            </div>

            <!-- Third feature box -->
            <div class="box">
                <div class="img-box">
                    <img src="~/Content/template/svg/help-support-ecommerce-svgrepo-com.svg" height="50px" alt="Third Feature Icon"/>
                </div>
                <div class="detail-box">
                    <h5>24*7 Support </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")
</body>